<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>King of Signs</title>

        <script src="https://kit.fontawesome.com/92c15939e4.js" crossorigin="anonymous"></script>
        <!-- bootstrap css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
            <!-- style css -->
            <link rel="stylesheet" href="css/style.css">
                <!-- Responsive-->
                <link rel="stylesheet" href="css/responsive.css">
                    <!-- fevicon -->
                    <link rel="icon" th:href="@{'images/king.png'}" type="image/gif" />
                    <!-- Scrollbar Custom CSS -->
                    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
                        <!-- Tweaks for older IEs-->
                        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
                            <!-- owl stylesheets --> 
                            <link rel="stylesheet" href="css/owl.carousel.min.css">
                                <link rel="stylesheet" href="css/owl.theme.default.min.css">
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

                                        <!-- bootstrap core css -->
                                        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
                                        <link rel="icon" th:href="@{'images/king.png'}" type="image/x-icon">

                                            <!-- fonts style -->
                                            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

                                                <!--owl slider stylesheet -->
                                                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
                                                <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
                                                <!-- font awesome style -->
                                                <link href="css/font-awesome.min.css" rel="stylesheet" />

                                                <!-- Custom styles for this template -->
                                                <link href="css/style.css" rel="stylesheet" />
                                                <!-- responsive style -->
                                                <link href="css/responsive.css" rel="stylesheet" />
                                                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

                                                </head>

                                                <body>
                                                    <!-- header top section start -->
                                                    <div class="header_top">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-5">
                                                                    <div class="contact_main">
                                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'tel'}" class="contact_left">
                                                                            <div class="call_text"><a href="#"><img src="images/call-icon.png"><span class="call_text_left" th:text="${info.texto}"></span></a></div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'logo'}" class="col-sm-2">
                                                                    <div class="logo"><a th:each="images : ${info.imagen}" href="/"><img th:src="@{'images/'+${images.nombreImagen}}"></a></div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="contact_main">
                                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'email'}" class="contact_left">
                                                                            <div class="call_text"><a href="#"><img src="images/mail-icon.png"><span class="call_text_left" th:text="${info.texto}"></span></a></div>
                                                                        </div>
                                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'address'}" class="contact_right">
                                                                            <div class="call_text"><a href="#"><img src="images/map-icon.png"><span class="call_text_left" th:text="${info.texto}"></span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- header top section end -->
                                                    <!-- header section start -->
                                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                                            <span class="navbar-toggler-icon"></span>
                                                        </button>
                                                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                                            <div class="navbar-nav">
                                                                <a class="nav-item nav-link" href="/">HOME</a>
                                                                <a class="nav-item nav-link" href="/#servicios">SERVICES</a>
                                                                <a class="nav-item nav-link" href="/#nosotros">ABOUT</a>
                                                                <a class="nav-item nav-link" href="/portafolio">PORTFOLIO</a>
                                                                <a class="nav-item nav-link" href="/#contactanos">CONTACT US</a>
                                                                <a class="nav-item nav-link" href="/login">LOG IN</a>
                                                            </div>
                                                        </div>
                                                    </nav>
                                                    <!-- header section end -->
                                                    <!-- banner section start -->
                                                    <div class="banner_section">
                                                        <section class="slide-wrapper">
                                                            <div class="container">
                                                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                                    <!-- Indicators -->
                                                                    <ol class="carousel-indicators">
                                                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="3"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="4"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="5"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="6"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="7"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="8"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="9"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="10"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="11"></li>
                                                                        <li data-target="#myCarousel" data-slide-to="12"></li>
                                                                    </ol>

                                                                    <!-- Wrapper for slides -->
                                                                    <div class="carousel-inner">
                                                                        <div class="carousel-item active">
                                                                            <div class="container">
                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <h1 class="achive_text">ALL CUSTOM SIGNS</h1>
                                                                                        <p class="best_text">The best place for your sign</p>
                                                                                        <p class="lorem_text">At King of Signs, we create custom signs tailored to your vision. 
                                                                                            Our expertise ensures top-quality, personalized solutions for all your signage needs.</p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'banner'}" class="carousel-item">
                                                                            <div class="container">
                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <h1 class="achive_text" th:text="${info.titulo}"></h1>
                                                                                        <p class="best_text">The best place for your sign</p>
                                                                                        <p class="lorem_text" th:text="${info.texto}"></p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>




                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <!-- banner section end -->
                                                    <!-- about section start -->
                                                    <div id="nosotros" class="about_section layout_padding">
                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'nosotros'}" class="container">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="unique_text" th:text="${info.titulo}"></p>
                                                                    <p class="ipsum_text" th:text="${info.texto}"></p>

                                                                </div>
                                                                <div th:each="imagen : ${info.imagen}" class="col-md-6">
                                                                    <div class="image_2"><img th:src="@{'images/'+${imagen.nombreImagen}}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- about section end -->
                                                    <!-- service section start -->
                                                    <div id="servicios" class="service_section layout_padding">
                                                        <div class="container">
                                                            <h1 class="services_text">Our Services</h1>
                                                            <p class="dolor_text">Here you can find a variety of services that we offer</p>
                                                            <div class="service_section_2">
                                                                <div class="row">
                                                                    <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'services'}" class="col-sm-4">
                                                                        <div class="image_3"><img style="width: 40%;" th:each="images : ${info.imagen}" th:src="@{'images/'+${images.nombreImagen}}"></div>
                                                                        <h1 class="classic_text" th:text="${info.titulo}"></h1>
                                                                        <p class="consectetur_text" th:text="${info.texto}"></p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- service section end -->


                                                    <!-- contact section start -->
                                                    <div id="contactanos" class="contact_section layout_padding">
                                                        <div class="container">
                                                            <h1 class="contact_taital">Contact Us</h1>
                                                            <div class="contact_section_2">
                                                                <div style="flex-wrap: nowrap;" class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="mail_section">
                                                                            <form>
                                                                                <input type="text" class="mail_text" placeholder="Email" name="text">
                                                                                    <input type="text" class="mail_text" placeholder="Phone Number" name="text">
                                                                                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                                                                                        <button type="submit" class="send_bt">SEND</button>
                                                                                        </form>

                                                                                        </div>
                                                                                        </div>


                                                                                        <div class="map_container">
                                                                                            <div class="map">

                                                                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.506019049249!2d-75.1000984232922!3d39.99714327151027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b62f68cf4751%3A0x5ae88db5ef4a8ecb!2sKing%20of%20Signs!5e0!3m2!1ses-419!2sco!4v1720737680674!5m2!1ses-419!2sco" 
                                                                                                        width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <!-- contact section end -->
                                                                                        <div class="service_section layout_padding">
                                                                                            <div class="container">
                                                                                                <div class="heading_container">
                                                                                                    <h2>
                                                                                                       
                                                                                                    </h2>
                                                                                                </div>
                                                                                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                                                                    <ol class="carousel-indicators">
                                                                                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                                                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                                                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                                                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                                                                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                                                                                    </ol>
                                                                                                    <div class="carousel1-inner">
                                                                                                        <div class="carousel-item active">
                                                                                                            <img class="d-block w-100" th:src="@{'images/image1.jpeg'}" alt="First slide">
                                                                                                        </div>
                                                                                                        <div th:each="info : ${listaInfo}" th:if="${info.seccion == 'projects'}" class="carousel1-item">
                                                                                                            <img th:each="images : ${info.imagen}" class="d-block w-100" th:src="@{'images/'+${images.nombreImagen}}" alt="Second slide">
                                                                                                        </div>
                                                                                                        
                                                                                                    </div>
                                                                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                                        <span class="sr-only">Previous</span>
                                                                                                    </a>
                                                                                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                                        <span class="sr-only">Next</span>
                                                                                                    </a>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>

                                                                                        <!-- footer section start -->
                                                                                        <div class="footer_section layout_padding">
                                                                                            <div class="container">
                                                                                                <div class="social_icon">
                                                                                                    <ul>
                                                                                                        <li th:each="info : ${listaInfo}" th:if="${info.seccion == 'media'}"><a th:href="${info.texto}"><img th:each="images : ${info.imagen}" th:src="@{'images/' + ${imagen.nombreImagen}}"></a></li>

                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- footer section end -->
                                                                                        <!-- copyright section start -->
                                                                                        <div class="copyright_section">
                                                                                            <div class="container">
                                                                                                <p class="copyright_text">Copyright 2024 All Right Reserved By King of Signs</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- copyright section end -->
                                                                                        <!-- Javascript files-->
                                                                                        <script src="js/jquery.min.js"></script>
                                                                                        <script src="js/popper.min.js"></script>
                                                                                        <script src="js/bootstrap.bundle.min.js"></script>
                                                                                        <script src="js/jquery-3.0.0.min.js"></script>
                                                                                        <script src="js/plugin.js"></script>
                                                                                        <!-- sidebar -->
                                                                                        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
                                                                                        <script src="js/custom.js"></script>
                                                                                        <!-- javascript --> 
                                                                                        <script src="js/owl.carousel.js"></script>
                                                                                        <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
                                                                                        <script>
                                                                                            $('#myCarousel').carousel({
                                                                                                interval: 2000
                                                                                            });

                                                                                            //scroll slides on swipe for touch enabled devices

                                                                                            $("#myCarousel").on("touchstart", function (event) {

                                                                                                var yClick = event.originalEvent.touches[0].pageY;
                                                                                                $(this).one("touchmove", function (event) {

                                                                                                    var yMove = event.originalEvent.touches[0].pageY;
                                                                                                    if (Math.floor(yClick - yMove) > 1) {
                                                                                                        $(".carousel").carousel('next');
                                                                                                    } else if (Math.floor(yClick - yMove) < -1) {
                                                                                                        $(".carousel").carousel('prev');
                                                                                                    }
                                                                                                });
                                                                                                $(".carousel").on("touchend", function () {
                                                                                                    $(this).off("touchmove");
                                                                                                });
                                                                                            });
                                                                                            $('.carousel').carousel({
                                                                                                interval: 2000
                                                                                            })
                                                                                        </script>
                                                                                        <style>
                                                                                            /* Carousel styles */
                                                                                            .carousel1-item img {
                                                                                                max-width: 100%;
                                                                                                height: auto;
                                                                                            }

                                                                                            .carousel1_items {
                                                                                                display: flex;
                                                                                                wrap: nowrap;
                                                                                                overflow: hidden;
                                                                                            }
                                                                                            .carousel1_item {
                                                                                                position: relative;
                                                                                                min-width: 100%;
                                                                                                height: 100vh;
                                                                                                transition: all 0.5s linear;
                                                                                                background-repeat: no-repeat;
                                                                                                background-size: cover;
                                                                                                background-attachment: fixed;
                                                                                            }
                                                                                            .carousel1_text {
                                                                                                position: absolute;
                                                                                                bottom: 10%;
                                                                                                left: 50%;
                                                                                                transform: translate(-50%);
                                                                                                padding: 0.5rem 1rem;
                                                                                                border-radius: 3px;
                                                                                                background-color: rgba(0, 0, 0, 0.8);
                                                                                                color: white;
                                                                                                text-shadow: 1px 1px black;
                                                                                                font-size: calc(1.5rem + 0.3vw);
                                                                                                font-weight: bolder;
                                                                                            }
                                                                                            /* Añade este bloque para asegurar que todas las imágenes tengan el mismo tamaño */
                                                                                            .carousel1-inner img {
                                                                                                width: 100%;
                                                                                                height: 500px; /* Puedes ajustar la altura según tus necesidades */
                                                                                                object-fit: cover; /* Esto asegura que las imágenes se ajusten sin distorsionarse */
                                                                                            }
                                                                                        </style>
                                                                                        </body>

                                                                                        </html>